<html>
<head>
    <title>Welcome | Log In</title>
    <script src="https://use.fontawesome.com/647f706861.js"></script>
</head>
<body>
<div class="off-canvas position-left" id="offCanvas" data-off-canvas>
    <!-- Your menu or Off-canvas content goes here -->
  
  <ul class="menu vertical">
     <a><li><i class="fa fa-home" aria-hidden="true"></i><label>Home</label></li></a>
     <a><li><i class="fa fa-comments-o" aria-hidden="true"></i><label>Forum</label></li></a>
     <a><li><i class="fa fa-inbox" aria-hidden="true"></i><label>Inbox</label></li></a>
     <a><li><i class="fa fa-user" aria-hidden="true"></i><label>Profile</label></li></a>
     <a><li><i class="fa fa-cogs" aria-hidden="true"></i><label>Settings</label></li></a>
  </ul>
</div>
<div class="off-canvas-content" data-off-canvas-content>
    <!-- Your page content lives here -->
  <button type="button" class="button" data-toggle="offCanvas"><i class="fa fa-bars" aria-hidden="true" style="font-size: 1.9em"></i></button>
  
</div>

<script>
    $(document).foundation();
  </script>
</body>
</html>