<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @user.first_name %>,</h1>
    <p>
      The admin has revoked your status. Please contact the admin if you believe this has been a mistake.
    </p>

    <p>Best, ITPH Community Forum!</p>
  </body>
</html>