<div class="text-field">
  <%= form.label :email, :id => "Email"%>
  <%= form.text_field :email, type: 'email' %>
</div>

<div class="password-field">
  <%= form.label :password, :id => "Password"%>
  <%= form.password_field :password %>
</div>
