.row#header
    .small-6.columns.margT
        %a.header-text
            Directory
    %hr/
    %br
    

%ul.directoryColumns
    -@users.each do |user|
        %li.directoryItems
            %a{:href => profile_path(user.id)}
                %img= image_tag user.avatar.url(:medium), :class => 'directoryPics'
            .box
                %iframe{:height => "500px", :src => profile_path(user.id), :width => "500px"}
            %a{:href => profile_path(user.id)}
                %p
                    = user.first_name
                    = user.last_name
            