<html>
<head>
    <title>Welcome!</title>
</head>
<% if flash[:alert] %>
    <p class="alert" id="red"><%= flash[:alert] %></p>
<% end %>
<% if flash[:notice] %>
    <p class="alert" id="green"><%= flash[:notice] %></p>
<% end %>
<div class="login-panel">
    <div class="center">
        <div class="row">
            <div class="small-12 columns"><h3>Welcome to the ITPH Community!</h3></div>
        </div>
        </br>
            <div class="small-12 columns"><h3>Sign In</h3></div>
        </div> 
        <h1 @username</h1>
        <h1 @password</h1>
        <form action="/" method="get" id="form1">
            <div class="row">
                <div class="large-12 columns">
                <input type="text" placeholder="Username" />
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">  
                <input type="password" placeholder="Password" />
                </div>
            </div>
        </form>
        <div class="row">
            <div class="large-12 columns" id="in_box_align">
                <a href=<%=new_user_session_path%> class="button large welcome">Login</a><a href=<%=new_user_registration_path %> class="button large welcome">Sign Up</a>
            </div>
        </div>

    </div>

</div>

        
</html>