<html>
<head>
    <title>Welcome!</title>
</head>
<h3><%= flash[:success] %> </h3>
<h3> <%= flash.now[:error] %></h3>
<div class="login-panel">
    <div class="center">
        <div class="row">
            <div class="small-12 columns"><h3>Welcome to the ITPH Community!</h3></div>
        </div>
        </br>
        <div class="row">
            <div class="large-12 columns" id="in_box_align">
                <a href=<%=new_user_session_path%> class="button large welcome">Login</a><a href=<%=new_user_registration_path %> class="button large welcome">Sign Up</a>
            </div>
        </div>

    </div>

</div>

        
</html>