%head
    %title Forum
    %link{rel: "stylesheet", href: "http://fonts.googleapis.com/css?family=Lato:300,400,700", type: "text/css"}
    %link{rel: "stylesheet", href: "http://cdnjscloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css"}/
    %script{:src => "https://use.fontawesome.com/647f706861.js"}
    
%body
    #forum-container
        .row#header
            .small-6.columns.margT
                %a.header-text EDIT POST
            %hr/
        

    
        .wrapper
        =yield

        = render 'form'
        