/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require select2

 */
#forum-container {
    margin: 0 auto;
    max-width: 1200px;
}
#header {
    padding-left: 14px;
    padding-right: 14px;
}
.header-icon {
    font-size: 1.2em;
    font-variant: small-caps !important;
    font-family: Avenir !important;
    letter-spacing: 1px !important;
}
.header-text {
    font-size: 1.5em;
    font-variant: small-caps !important;
    font-family: Avenir !important;
    letter-spacing: 1px !important;
}
.margT {
    margin-top: 8px;
}
.marB {
    margin-top: 10px;
}
#change {
    color: white;
}
.right-align {
    display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

.menu.vertical > a > li {
    text-align: center;
    padding: 10%;
}

.menu.vertical > a > li > i {
    font-size: 3em;
    color: white;
}

.menu.vertical > a > li > label {
    color: white;
}

.position-left {
  width: 150px;
  transform: translateX(-150px);
}

.off-canvas {
    background-color: lightskyblue;
    background-image: image-url("navbarimg.png");
    background-size: cover;
}

.label-font {
    font-family: 'Avenir';
    font-variant: all-petite-caps;
    font-size: 105%;
}

.position-left.is-open ~ .off-canvas-content {
  transform: translateX(150px);
}

body {
    font-family: 'Avenir' , sans-serif;
    
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after{
    clear: both;
}

.wrapper {
    width: 60%;
    max-width: 1140px;
    margin: 0 auto; 
}

.main_header {
    width: 100%;
    margin: 0 auto; 
    background: #ADD8E6;
    #logo {
        float: left;
        a{
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: -1px;
            font-size: 1.2rem;
            text-decoration: none;
            color: #397CAC;
        }
    }
    #button {
        float: right;
        a {
            line-height: 60px;
			background: #397CAC;
			padding: .5em 1em;
			border-radius: 0.2em;
			color: white;
			text-decoration: none;
			font-weight: 100;
		}
        
    }
}

#posts {
	padding: 1em 5%;
	border-radius: .5em;
	.alt-post {
        margin: 1em 0;
		padding: 1em 0;
        .title {
            margin: 0;
            a {
                /*color: #397CAC;*/
                text-decoration: none;
                /*font-weight: 100;*/
                font-size: 1.25rem;
            }
        }
	}
    .post {
        margin: 1em 0;
		padding: 1em 0;
		border-bottom: 1px solid #D1d1d1;
        .title {
            margin: 0;
            a {
                /*color: #397CAC;*/
                text-decoration: none;
                /*font-weight: 100;*/
                font-size: 1.25rem;
            }
        }
        .date {
            margin-top: .25rem;
            font-size: 0.9rem;
            color: #B2BAC2;
        }
    }
}

#post_content {
    background: white;
    padding: 2em 5%;
    border-radius: 0.5em;
    h1 {
        /*font-weight: 100;*/
        font-size: 2em;
        color: #397CAC;
        margin-top: 0;
    }
    p {
        /*color: #B2BAC2;*/
        font-size: 1.2rem;
        font-weight: 100;
        line-height: 1.5;
        padding-left: 20px;
        padding-right: 20px;
    }
    #public {
        font-size: 0.9rem;
        color: #90e08f;
    }
    #comments {
        .comment {
            border-bottom: 1px solid #D1d1d1;
            padding: 1em;
            margin-bottom: 1em;
            .content{
                width: 75%;
                float: left;
            }
            // .buttons {
            //     width: 15%;
            //     float: left;
            // }
            .buttons {
				// float: left;
				font-size: .8em;
				text-align: right;
				padding-top: 1.5em;
				a {
					color: #397CAC;
					border: 1px solid #397CAC;
					padding: .5em 1em;
					border-radius: 0.2em;
					text-decoration: none;
					margin-right: 0.5%;
				}
			}
            .comment_content {
                margin: 0;
                padding-left: 20px;
                padding-right: 20px;
                font-size: 1.2em;
            }
            .comment_author {
                color: #397CAC;
                margin-top: .5rem;
                font-size: 1rem;
                font-weight: 100;
            }
            .comment_date {
                font-size: 0.9rem;
                color: #B2BAC2;
            }
            
        }
        input[type="submit"] {
			background: #397CAC;
			border: none;
			color: white;
			font-weight: 100;
			padding: .5em 1em;
			border-radius: .2em;
		}
        textarea {
			width: 100%;
			min-height: 200px;
			border: 1px solid #d1d1d1;
			border-radius: .2em;
			margin: 1em 0;
		}
    }
}

.button1 {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 0;
    font-family: inherit;
    padding: 0.85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    color: dodgerblue;
}
.button {
    margin-left: 8px;
    margin-top: 8px;
}

#my_form {
    display: none;
}

.accordion-title {
    border: 1.2px solid #397CAC;
    font-family: Avenir;
    font-size: 150%;
    
    #announcement-date {
    font-size: 60%;
    color: #527999;
    margin-right: 20px;
}

}

.accordion-content {
    background: #f2f6f9;
    font-family: Avenir;
    
}

.accordion-description {
    font-size: 90%;
    font-family: Avenir;
    margin-left: 20px;
    color: #527999;
}
.accordion-post-title {
    font-size: 170%;
}

.callout {
    border-radius: 15px;
}
.devise_message {
    font-size: 1em;
}
.pagination{
    display: flex;
}

.accordion-title:hover, .accordion-title:focus {
    background-color: mediumaquamarine;
    color: white;
}
.accordion-title {
 border: none;   
 transition: all 0.5s ease-in-out;
}
.accordion-content {
 border: none;
}
.accordion-item.is-active {
    background-color: mediumaquamarine;
    color: white;
}

.tab {
    margin-left: 40px;
}

.tabList {
    margin-left: 60px;
}
.prof-icon {
    width:150px;
    height:150px;
    border-radius:100%;
    border: 3px solid white;
    margin-left: 15px;
}
.edit-badge {
    background-color: limegreen;
    color: white;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 1em;
    margin-top: 115px;
    margin-left: 115px;
    position: absolute;
    border: 2px solid white;
    
    i {
        margin-top: 4px;
    }
}

.pushDown {
    margin-top: 15px;
}

.slideUp {
    font-size: 5em;
    height: 80px;
    opacity: 0;
}

.edit_user {
    margin-top: -120px;
}

.slideDown {
    margin-top: 50px;
}

#save-button {
    display: none;
    opacity: 0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.directoryColumns {
    columns: 3;
    margin: 0 auto;
    text-align: -webkit-center;
}
    
.directoryItems{
    list-style-type: none;
    margin-bottom: 30px;
    
}
.directoryPics {
    width:150px;
    height:150px;
    border-radius:100%;
}

.prof-icon-forum {
    width:70px;
    height:70px;
    border-radius:100%;
    border: 3px solid white;
    margin-left: 15px;
}
// .box{
//     display: none;
//     width: 100%;
//     position: absolute;
// }

// a:hover + .box,.box:hover{
//     display: block;
//     z-index: 1;
//     position: absolute;
//     left: -20px;
// }

.marR {
    margin-right: 15px;
}

.marL {
    margin-left: 15px;
}

.graduated {
    margin-top: 25px;
}

.limegreen {
    background-color: limegreen;
    border: 2px solid white;
    color: white;
    font-weight: 500;
}

.moveAround {
    position: absolute;
    margin-top: -120px;
    margin-left: -200px;
    z-index: -3;
}

#pushDownwards {
    margin-top: 140px;
}