// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-panel {
    margin-top: 15% !important;
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 5%;
}

body {
    background: aliceblue;
}

#form1 {
    margin-top: 10px;
}

[type='text'] {
    border: none !important;
    box-shadow: none !important;
    border-bottom: 1px cornflowerblue solid !important;
    transition: all 0.5s ease-in-out;
}
[type='text']:focus {
    background-color: aliceblue !important;
}

.button.large.welcome {
    margin: 20px;
}
.center {
    margin: auto;
    width: 100%;
}

#in_box_align {
    text-align: center;
}

#red {
    color: red;
}

#green {
    color: green;
}