= simple_form_for @user, url: profile_path do |form|
        .slideUp
                = form.input :avatar, as: :file
        #save-button
                = form.submit 'upload', class: "button slideDown hollow success", id: "life"