= simple_form_for @user, url: profile_path do |form|
        .slideUp
                = form.input :avatar, as: :file
        #save-button
                = form.submit 'Save Changes', class: "button slideDown hollow success"