%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Welcome | Log In
    %script{:src => "https://use.fontawesome.com/647f706861.js"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  - if current_page?(root_path) || current_page?(new_user_registration_path) || current_page?(new_user_session_path) || current_page?(new_user_password_path) || current_user.nil?
    %body.outsideView
      =yield
  - else
    %body
      #offCanvas.off-canvas.position-left{"data-off-canvas" => ""}
        / Your menu or Off-canvas content goes here
        %ul.menu.vertical
          %a{"href" => "/community"}
            %li
              %i.fa.fa-home{"aria-hidden" => "true"}
              %label Home 
          %a{"href" => posts_path}
            %li
              %i.fa.fa-comments-o{"aria-hidden" => "true"}
              %label Forum
          %a{"href" => navbar_resources_path}
            %li
              %i.fa.fa-folder-open-o{"aria-hidden" => "true"}
              %label Resources
          %a{"href" => profile_path(current_user)}
            %li
              %i.fa.fa-user{"aria-hidden" => "true"}
              %label Profile
          %a{"href" => navbar_settings_path}
            %li
              %i.fa.fa-cogs{"aria-hidden" => "true"}
              %label Settings
      .off-canvas-content{"data-off-canvas-content" => ""}
        / Your page content lives here
        %button.button1{"data-toggle" => "offCanvas", :type => "button"}
          %i.fa.fa-bars{"aria-hidden" => "true", :style => "font-size: 1.9em"}
        .row
          =yield

:javascript
  $(document).foundation();


