%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ITPH Community
    %script{:src => "https://use.fontawesome.com/647f706861.js"}
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = tinymce_assets
  - if current_page?(root_path) || current_page?(new_user_registration_path) || current_page?(new_user_session_path) || current_page?(new_user_password_path) || current_user.nil?
    %body.outsideView
      =yield
  - else
    -if current_page?(community_index_path)
      %body.friendly
    -else
    %body
      #offCanvas.off-canvas.position-left{"data-off-canvas" => ""}
        / Your menu or Off-canvas content goes here
        %ul.menu.vertical
          %a{"href" => "/community"}
            %li
              %i.fa.fa-home{"aria-hidden" => "true"}
              %label.label-font Home 
          %a{"href" => posts_path}
            %li
              %i.fa.fa-comments-o{"aria-hidden" => "true"}
              %label.label-font Forum
          %a{"href" => resources_path}
            %li
              %i.fa.fa-folder-open-o{"aria-hidden" => "true"}
              %label.label-font Resources
          %a{"href" => profile_path(current_user)}
            %li
              %i.fa.fa-user{"aria-hidden" => "true"}
              %label.label-font Profile
          -if current_user.admin
            %a{"href" => admin_index_path}
              %li
                %i.fa.fa-life-ring{"aria-hidden" => "true"}
                %label.label-font Admin
          %a{"data-method" => "delete", :href => destroy_user_session_path, :rel => "nofollow"}
            %li
              %i.fa.fa-sign-out{"aria-hidden" => "true"}
              %label.label-font Sign Out

      .off-canvas-content{"data-off-canvas-content" => ""}
        / Your page content lives here
        %button.button1{"data-toggle" => "offCanvas", :type => "button"}
          %i.fa.fa-bars{"aria-hidden" => "true", :style => "font-size: 1.9em"}
        .row
          =yield

:javascript
  $(document).foundation();


